<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.ws.admin.mapper.FlowMapper">

    <insert id="insertReturnKey" parameterType="com.we.ws.admin.domain.Flow" useGeneratedKeys="true"
            keyProperty="autoid">
        insert into T_Flow (uid,flowid,flowname,description,flowjson,input)
        values(#{uid},#{flowid},#{flowname},#{description},#{flowjson},#{input})
    </insert>

    <select id="listFlows" resultType="com.we.ws.admin.domain.Flow">
        select autoid,flowid,flowname,description,input,state from T_Flow
        <where>
            state != 2
            <if test="flowid != null and flowid!=''">
                and flowid = #{flowid}
            </if>
            <if test="flowname != null and flowname!=''">
                and flowname like #{flowname}
            </if>
            <if test="uid !='1'">
                and uid like #{uid}
            </if>
        </where>
    </select>


    <update id="setFlowState">
        update T_Flow set state=#{state} where autoid in
        <foreach collection="autoids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <insert id="unableUserInFlow">
        insert into T_UnableUserInFlow (uid,flowid) values
        <foreach collection="uids" item="item" index="index" separator=",">
            (#{item} , #{flowid})
        </foreach>
    </insert>

    <delete id="enableUserInFlow">
        DELETE from T_UnableUserInFlow where flowid = #{flowid} and uid in
        <foreach collection="uids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>