<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.ws.admin.mapper.RoleMenuMapper">

    <insert id="insertMenus">
        insert into T_RoleMenu (mid,rid)
        select mid,#{rid} as rid from T_Menu where mid in
        <foreach collection="mids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </insert>

</mapper>