<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.we.ws.admin.mapper.UserRoleMapper">

    <insert id="addRoles" parameterType="String">
        insert into T_UserRole(uid,rid) values
        <foreach collection="rids" item="item" index="index" separator=",">
            (#{item},#{uid})
        </foreach>
    </insert>

    <insert id="addRole" parameterType="String">
        insert into T_UserRole(uid,rid) values (#{uid},#{rid})
    </insert>
    
    <select id="checkExist" resultType="int">
        select count(*) from T_UserRole where uid=#{uid} and rid=#{rid} and state=0
    </select>

    <update id="removeRoles">
        update T_UserRole set state=1 where autoid in
        <foreach collection="autoids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


    <select id="getRoles" resultType="com.we.ws.admin.domain.UserRole">
        select ur.autoid,ur.uid,u.account,ur.rid,r.rname as rolename from T_User u,T_Role r,T_UserRole ur where ur.uid=#{uid}
            and ur.state=0 and ur.uid=u.uid and ur.rid=r.rid order by r.rid
    </select>

</mapper>